@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 93%;
    --foreground: 224 71.4% 4.1%;
    --card: 60 60% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 60 60% 97%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 120 30% 45%;
    --primary-foreground: 60 30% 96%;
    --secondary: 120 15% 88%;
    --secondary-foreground: 120 25% 25%;
    --muted: 120 15% 88%;
    --muted-foreground: 225 8.9% 45.1%;
    --accent: 195 53% 79%;
    --accent-foreground: 224 71.4% 4.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 80%;
    --input: 120 10% 85%;
    --ring: 120 30% 45%;
    --chart-1: 120 30% 45%;
    --chart-2: 195 53% 79%;
    --chart-3: 120 25% 65%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 30% 15%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 195 43% 49%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 120 25% 65%;
    --chart-1: 120 25% 65%;
    --chart-2: 195 43% 49%;
    --chart-3: 120 30% 45%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
